@import "variables";

body {
  font-family: clavo, serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 2rem !important;
}

h1, h2, h3, h4, h5, h6, p, li, label {
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  text-align: left;
}

h1 { font: $first-headline-font; margin: $first-headline-margin; }
h2 { font: $second-headline-font; margin: $second-headline-margin; }
h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }

$spacer: 1rem;
$spacers: (
        6: ($spacer * 4.5),
        7: ($spacer * 6),
        8: ($spacer * 7.5),
        9: ($spacer * 9),
        10: ($spacer * 10.5),
        11: ($spacer * 12),
        13: ($spacer * 13.5),
        14: ($spacer * 15)
);


a.nav-link {
  font: $navigation-font;
}

.is-green {
  color: $fff_green !important;
}

p, a, li, label { font: $general-text-font; }
li strong a {
  font-weight: bolder;
}
.subtext, .subheadline { font: $sub-text-font; }
small, .font-smaller { font: $small-text-font; }

a {
  color: $black !important;
}
a:hover {
  color: $link-hover-color !important;
}
