@use "sass:math";

// Bootstrap 4 default colors
$white:             #fff;
$gray-100:          #f8f9fa;
$gray-200:          #e9ecef;
$gray-300:          #dee2e6;
$gray-400:          #ced4da;
$gray-500:          #adb5bd;
$gray-600:          #6c757d;
$gray-700:          #495057;
$gray-800:          #343a40;
$gray-900:          #212529;
$black:             #000;
$blue:              #007bff;
$indigo:            #6610f2;
$purple:            #6f42c1;
$pink:              #e83e8c;
$red:               #dc3545;
$orange:            #fd7e14;
$yellow:            #ffc107;
$green:             #28a745;
$teal:              #20c997;
$cyan:              #17a2b8;

// Social Media
$facebook:          #3b5998;
$facebook-hover:    #30497c;
$twitter:           #1da1f2;
$twitter-hover:     #1da1f2;
$reddit:            #ff4500;
$reddit-hover:      #d93b00;
$vk:                #45668e;
$vk-hover:          #385474;

$fff_green:         #1da64a;
$devlabor:          #30bbda;

// Set your brand colors
$dark-grey: #161615;
$grey: #1DA64A;
$light-grey: #E1F2E7;
$white-grey: #F4F9F6;
$black: #000000;
$light-blue: #90D3ED;
$grey: #565656;
$light-grey: #EFEFEF;
$light-beige: #FFFFFF;
$tomato: tomato;
$skyblue: skyblue;



// Update Bulma's global variables
$family-sans-serif: Merriweather Sans, Lato, Cantarell, sans-serif;
$grey-dark: $black;
$grey-light: $light-grey;
$primary: $grey-dark;
$link: $grey;

$tablet-enabled: true;
$widescreen-enabled: true;
$fullhd-enabled: true;

$family-primary: Merriweather Sans, Lato, Cantarell, sans-serif;

// Update some of Bulma's component variables
$body-background-color: $orange;
$control-border-width: 0.1rem;
$input-border-color: $grey-dark;
$input-shadow: $grey-light;
$block-border: 0.1rem solid $skyblue;



$body-bg: $orange;
$block-bg: $orange;
$block-header-bg: $orange;
$text-bg: $orange;
$text-color:  $light-grey;
$link-color: $light-grey;
$link-hover-color: $white-grey;
$link-hover-decoration: none;

/* Speech bubble */
$sb-bg: $body-bg;
$sb-border-color: $skyblue;
$sb-text-color: $light-grey;
$sb-link-color: $light-grey;
$sb-link-color-hover: $white-grey;
$sb-font: 1.25rem/1.75rem Clavo;



$theme-colors: (
        primary: orange
);


$enable-caret: true; // default true
$enable-rounded: false; // default true
$enable-shadows: false; // default false
$enable-gradients: false; // default false
$enable-transitions: true; // default true
$enable-prefers-reduced-motion-media-query: true; // default true
$enable-grid-classes: true; // default true
$enable-pointer-cursor-for-buttons: true; // default true
$enable-print-styles: false; // default true
$enable-responsive-font-sizes: false; // default false
$enable-validation-icons: false; // default true
$enable-deprecation-messages: true; // default true

// Forms
$custom-control-indicator-checked-color: $fff_green;
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-checked-border-color: $black;
$custom-select-indicator-color: $fff_green;
$custom-control-indicator-size: 1.5rem;

$component-active-bg: $fff_green;
$input-placeholder-color: $gray-400;
$input-btn-border-width: 5px;
$input-border-color: $black;
$custom-control-indicator-border-color: $black;


// Fonts
$main-headline-home-font: Bold 1.875rem/2.25rem Clavo;
$first-headline-font: Bold 3.125rem/3.875rem Clavo;
$first-headline-margin: (3.125rem / 1.5) 0 (3.125rem / 2.5) 0;
$second-headline-font: Bold 2.34rem/2.813rem Clavo;
$second-headline-margin: (2.34rem / 1.5) 0 (2.34rem / 2.5) 0;
$other-headline-font: Bold 1.56rem/1.75rem Clavo;
$other-headline-margin: (1.56rem / 1.5) 0 (1.56rem / 2.5) 0;
$general-text-font: math.div(1.56rem, 1.75rem) Clavo;
$small-text-font: 1rem/1.125rem Clavo;
$sub-text-font: 1rem/1.5rem Clavo;
$big-quotes-font: Bold 2.34rem/2.813rem Clavo;
$navigation-font: 1.25rem/1.75rem Clavo;
