@import "./variables";
@import "./typography";

:root s{
  font-family: Clavo Sans, Clavo, Clavo sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1920px;
}

.border-0 {
  border: 0 solid #000000;
}

.border-5 {
  border: 5px solid #000000;
}

.border-4 {
  border: 4px solid #000000;
}

.mw-600 {
  max-width: 600px;
}

.mw-900 {
  max-width: 900px;
}

.sticky-bottom {
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.big {
  font-size: 120%;
}

.pointer {
  cursor: pointer;
}

#btn_ttt {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 99;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.ng-valid[required]:not(ng-select), .ng-valid.required:not(ng-select)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(ng-select)  {
  border-left: 5px solid #a94442; /* red */
}

ng-select.ng-invalid .ng-select-container {
  border-left: 5px solid #a94442; /* red */
  box-shadow: none;
}

ng-select.ng-valid .ng-select-container {
  border-left: 5px solid #42A948; /* green */
  box-shadow: none;
}

div.form-container {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
    border-radius: 0.25rem;
    @media screen and (min-width: 576px) {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
      border-width: .2rem;
    }
}

.bg-blue {
  background-color: $skyblue;
}

.bg-orange {
  background-color: orange;
}

