.chat-component {
    min-height: calc(100% - 100px );
    width: calc( 100% - 20px );
}
app-chat {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    app-chat-message-board {
        height: 100%;
        width: calc( 100% / 2 - 4rem );
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
  }