<div class="country-selection">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-grid-tile-header> Herzlich willkommen </mat-grid-tile-header>

      <div class="sb-box sb-box-wide sb-bottom-left">
        Oder wie heißt es in deiner Sprache?
      </div>

      <mat-grid-tile-footer *ngIf="(selectedCategory$ | async) !== null">
        Du befindest an/in: {{ (selectedCategory$ | async)?.category }}
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header> Wähle deine Sprache &nbsp; </mat-grid-tile-header>
      <div *ngIf="!allVisible">
        <div *ngFor="let country of ownCountries$ | async">
          <nevercodealone-country-selection-item
            [country]="country"
            [category]="selectedCategory$ | async"
            [addMode]="false"
            (selectCountry)="onSelectCountry($event)"
          ></nevercodealone-country-selection-item>
        </div>
      </div>
      <div *ngIf="allVisible">
        <div *ngFor="let element of countries">
          <nevercodealone-country-selection-item
            [country]="element.country"
            [category]="selectedCategory$ | async"
            [addMode]="element.addMode"
            (addToselectableCountries)="onAddNewCountry($event)"
          ></nevercodealone-country-selection-item>
        </div>
      </div>
      <mat-grid-tile-footer>
        <button class="btn btn-danger" (click)="onToggleAddMode()">
          Neu anlegen
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
