@import '../variables';

$sb-border-radius: 1rem;
$sb-border-radius-small: 0.1rem;

.sb-list {
  &::after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
  }
  overflow: scroll;
  .sb-box {
    display: block;
  }
}

.sb-box {
  width: 150px;
  margin: 50px auto;
  padding: 20px;
  border: 4px solid $sb-border-color;
  border-radius: $sb-border-radius-small;
  text-align: center;
  background-color: $sb-bg;
  font: $sb-font;
  color: $sb-text-color;
  position: relative;
  h1, h2, h3, h4, h5, h6, p, a {
    color: $text-color !important;
  }
  a {
    color: $sb-link-color;
    :hover, :focus {
      color: $sb-link-color-hover;
    }
  }
}
.sb-warning {
  color: black !important;
  background: orange !important;
}
.sb-box-clickable {
  cursor: pointer;
}

.sb-big {
  font: $big-quotes-font;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.circle-sb {
  width: 250px;
  border: 5px solid $sb-border-color;
  padding: 80px 0;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font: $sb-font;
  position: relative;
  color: $sb-text-color;
}

.sb-box-wide {
  width: 300px;
}

.sb-box-bold {
  font-weight: bolder;
}


/* d circle shape speech bubble*/

.sb-circle {
  border: 5px solid $sb-border-color;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 15px;
}

.sb-circle:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  background: $sb-bg;
}

.sb-circle1 {
  border: 5px solid $sb-border-color;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -35px;
  bottom: 13px;
}

.sb-circle1:before {
  content: "";
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  background: $sb-bg;
}
.sb-right:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid $sb-border-color;
  border-right: 10px solid transparent;
  border-top: 10px solid $sb-border-color;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}

.sb-left:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid $sb-border-color;
  border-top: 10px solid $sb-border-color;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.sb-bottom-left:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid $sb-border-color;
  border-right: 10px solid transparent;
  border-top: 10px solid $sb-border-color;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.sb-bottom-right:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid $sb-border-color;
  border-top: 10px solid $sb-border-color;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

.sb-action {
  cursor: pointer;
}
