<div class="phrases">
  <div  *ngIf="country !== null" class="language language-{{ country.language_key }}">{{ country.name }}</div>
  <div class="buttons">
    <form class="form form-inline">
      <input type="text" [(ngModel)]="newPhraseLabel" name="new-phrase-label" placeholder="Enter phrase"/>
      <button type="button" (click)="onCreateNewPhrase()">Create</button>
    </form>
  </div>
  <div class="phrase-selection sb-list" *ngIf="country !== null">
    <div *ngFor="let phrase of phraseLabels" [class.sb-left]="!isRight" [class.sb-right]="isRight"
         (click)="onPhraseSelection(phrase.phrase)"
         class="sb-box sb-box-clickable">{{ phrase.text }}</div>
  </div>
</div>
<div class="messages">
  <div
    *ngFor="let message of messages"
    [class.sb-bottom-left]="(message.own && !isRight) || (!message.own && isRight)"
    [class.sb-bottom-right]="(message.own && isRight) || (!message.own && !isRight)"
    class="sb-box sb-box-wide">{{ message.text }}</div>
</div>
