@import "../../../assets/sass/variables";
html, body, nevercodealone-chat-message-board {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.phrases {
  flex-basis: auto;
  height: 100%;
  width: calc(100% / 3);
  overflow: hidden;
  //background-color: skyblue;
  background-size: 6px 6px;
}

.phrases .buttons::after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.phrases button {
  float: right;
  height: 30px;
  width: 30px;
  margin: 8px 6px 12px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  font: $navigation-font;
  color: skyblue;
  background: whitesmoke;
  cursor: pointer;
}

.phrases ul {
  width: calc(100% - 0.875rem * 2);
  margin: 0.2rem 0.875rem;
  padding: 0;
  list-style: none;
}

.phrases li {
  position: relative;
  width: 100%;
  height: 5rem;
  padding-left: 3rem;
  cursor: pointer;
}

.phrases li svg {
  width: 100%;
  height: calc(100% - 1rem);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background: whitesmoke;

}

.language {
  padding: 10px;
  margin: 0;
  position: relative;
  width: 100%;
  text-align: center;
  font: $navigation-font;
  color: $text-color;
}
.language-de {
  background: url("/assets/svg-country-flags/de.svg") repeat-x left;
}

.language-gb {
  background: url("/assets/svg-country-flags/gb.svg") repeat-x left;
}

.language-fr {
  background: url("/assets/svg-country-flags/fr.svg") repeat-x left;
}

.language-pl {
  background: url("/assets/svg-country-flags/pl.svg") repeat-x left;
}

.language-ru {
  background: url("/assets/svg-country-flags/ru.svg") repeat-x left;
}

.messages {
  flex-basis: auto;
  height: 100%;
  width: calc(100% / 3 * 2);
  background: tomato;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.messages {
  margin: 0;
  padding: 0;
}

.messages ul::after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.messages li {
  float: left;
  clear: both;
  line-height: 1.4em;
  max-width: 224px;
  margin: 12px;
  padding: 0.7em 16px;
  border-radius: 18px;
  font-family: sans-serif;
  color: whitesmoke;
  background: skyblue;
}

.messages li.left {
  border-bottom-left-radius: 2px;
}

.messages li.right {
  float: right;
  border-bottom-right-radius: 2px;
}

.form {
  position: relative;
  width: 100%;
  background: gainsboro;
}

.form {
  width: 100%;
  height: 2rem;
  margin: 0 0 2rem;
  background: whitesmoke;
}

.form input {
  float: left;
  height: 100%;
  margin: 0;
  width: calc(100% / 3 * 2);
}

.form button {
  float: right;
  height: 100%;
  margin: 0;
  width: calc(100% / 3);
  padding: 1px 0;
  border: 0;
  font: 25px/50spx sans-serif;
  background: gainsboro;
  cursor: pointer;
}

.small-screen nevercodealone-chat-message-board {
  align-content: center;
}

.small-screen .stack-wrap {
  position: relative;
  flex: 1 1px;
}

.small-screen .stack-wrap div {
  position: absolute;
  top: 0;
  bottom: 0;
}

.small-screen .phrases {
  left: 0;
  width: 66px;
}

.small-screen .phrases .buttons {
  display: none;
}

.small-screen .phrases ul {
  width: 100%;
  margin: 0;
}

.small-screen .phrases li {
  height: 66px;
  margin: 0;
  background: transparent;
}

.small-screen .phrases li::before {
  top: 9px;
  left: 9px;
  background: whitesmoke;
}

.small-screen .phrases li::after {
  top: -2px;
  right: 2px;
}

.small-screen .messages {
  left: 66px;
  right: 0;
  width: auto;
}

.small-screen .form {
  width: 100%;
}
