table.table-users {
  .mat-column-role,
  .mat-column-organisation_name,
  .mat-column-first_name,
  .mat-column-last_name,
  .mat-column-email,
  .mat-column-user_name {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-select {
    overflow: initial;
  }
  width: 100%;

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  .user-is-selected {
    font-weight: bold;
  }
}
