<table mat-table [dataSource]="users" class="mat-elevation-z8 admin-table table-users" *ngIf="null !== users">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>
  <ng-container matColumnDef="organisation_name">
    <th mat-header-cell *matHeaderCellDef> Organisation </th>
    <td mat-cell *matCellDef="let element"> {{element.organisation_name}} </td>
  </ng-container>
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> First name </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectUser(row)"
      [class.user-is-selected]="selectedUser?.email === row.email"></tr>
</table>
