
@import "~bootstrap/scss/bootstrap";
@import "assets/sass/pages/chat";
@import "assets/sass/pages/country";
@import "assets/sass/variables";
@import "assets/sass/base.scss";

@import "assets/sass/generics/speech-bubble";
@import "assets/sass/generics/table";


html, body { height: 100%;
  overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: $body-bg;
  font-family: $family-primary;
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
nevercodealone-root {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
nevercodealone-chat {
  position: relative;
  height: calc( 100% - 60px);
  width: 100%;
  flex-basis: auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
nevercodealone-chat-message-board {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: calc(100% / 2);
  overflow: hidden;
  flex-basis: auto;
}

nevercodealone-chat-message-board.reverse {
  flex-direction: row-reverse;
}

nevercodealone-country-selection {
  height: 100%;
  width: 100%;
}

nav.bg-blue {
  background-color: $skyblue;
}

.card-body {
  background-color: $block-bg;
  border: $block-border;
}

.card-header, .card-footer {
  background-color: $block-header-bg;
  margin-top: 0;
}
