<mat-grid-list cols="2" role="list">
  <mat-grid-tile role="listitem">
    <mat-grid-tile-header>Liste der Nutzer</mat-grid-tile-header>
    <nevercodealone-user-list [users]="users$ | async" (selectUser)="selectUser($event)"></nevercodealone-user-list>
    <mat-grid-tile-footer></mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile role="listitem">
    <mat-grid-tile-header *ngIf="(selectedUser$ | async) !== null">Nutzer bearbeiten</mat-grid-tile-header>
    <mat-grid-tile-header *ngIf="(selectedUser$ | async) === null">Nutzer anlegen</mat-grid-tile-header>
    <nevercodealone-ca (submitUser)="saveUser($event)" *ngIf="(organisations$ | async) !== null" [user]="selectedUser$ | async" [organisations]="(organisations$ | async) || []"></nevercodealone-ca>
    <mat-grid-tile-footer></mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

