
 div.mat-grid-tile-content {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   display: flex;
   justify-content: flex-start;
   height: 100%;
   padding: 0;
   margin: 0;
   align-content: flex-start;
   flex-wrap: nowrap;
   flex-direction: row;
 }

nevercodealone-user-list, nevercodealone-user-edit  {
  width: 100%;
  height: calc(100% - 100px);
}
