
  <div class="form-container bg-blue">
    <form [formGroup]="editUserForm" (submit)="submit()">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> First name
        </mat-label>
        <input matInput formControlName="first_name" type="text">
        <mat-error *ngIf="isInvalid('first_name')">
          <span *ngIf="hasError('first_name', 'required')">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Last name
        </mat-label>
        <input matInput formControlName="last_name" type="text">
        <mat-error *ngIf="isInvalid('last_name')">
          <span *ngIf="hasError('last_name', 'required')">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> User name | Nick name
        </mat-label>
        <input matInput formControlName="user_name" type="text">
        <mat-error *ngIf="isInvalid('user_name')">
          <span *ngIf="hasError('user_name', 'required')">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="isInvalid('email')">
          <span *ngIf="hasError('email', 'required')">This field is mandatory.</span>
          <span *ngIf="hasError('email', 'pattern')">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <div class="misc-bottom-padding">
        <mat-label>Role:</mat-label>
        <mat-radio-group aria-label="Select a role" formControlName="role">
          <mat-radio-button value="ROLE_USER" aria-label="User">User</mat-radio-button>
          <mat-radio-button value="ROLE_ORGANISATION_ADMIN">Organisation Admin</mat-radio-button>
          <mat-radio-button value="ROLE_ADMIN">Emma Admin</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Organisation:</mat-label>
        <mat-select aria-label="Select an organisation" formControlName="organisation">
          <mat-option>No Organisation</mat-option>
          <mat-option *ngFor="let o of organisations" [value]="o.id">
            {{o.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="editUserForm.invalid">Save</button>
    </form>
  </div>
