@import "../../../assets/sass/variables";

mat-toolbar{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  background-color: $block-header-bg;
  .mat-icon-button {
    width: auto;
  }
}
