<nav>
    <mat-toolbar *ngIf="isUser()">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="selectedCountry && selectedCategory"
                  [routerLink]="['chat/:categoryId/:countryId', {'categoryId': selectedCategory.id, 'countryId': selectedCountry.language_key}]">
            Chat
          </button>
          <button mat-menu-item [routerLink]="['category']">Auswahl Abteilung</button>
          <button mat-menu-item *ngIf="selectedCategory"
                  [routerLink]="['country/:categoryId', {'categoryId': selectedCategory.id}]">Auswahl Sprache
          </button>
          <mat-divider *ngIf="isEmmaAdmin() || isOrganisationAdmin()"></mat-divider>
          <button mat-menu-item [routerLink]="['admin/users']" *ngIf="isEmmaAdmin() || isOrganisationAdmin()">Users</button>
          <mat-divider *ngIf="isUser()"></mat-divider>
          <button mat-menu-item [routerLink]="['logout']"  *ngIf="isUser()">logout</button>
        </mat-menu>
        <span>{{ title }}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Wechsle in eine Abteilung"
                *ngIf="selectedCategory" [routerLink]="['category']">
          <mat-icon>map</mat-icon>
          <span>Ich bin heute ...{{ selectedCategory.category }}</span>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Wähle eine Abteilung"
                *ngIf="!selectedCategory" [routerLink]="['category']">
          <mat-icon>map</mat-icon>
          <span class="text-exception">Wähle eine Abteilung</span>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Wechsel die Sprache"
                *ngIf="selectedCountry && selectedCategory"
                [routerLink]="['country/:categoryId', {'categoryId': selectedCategory.id}]">
          <mat-icon>share</mat-icon>
          <span>{{ selectedCountry.name }}</span>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Wähle die Sprache"
                *ngIf="!selectedCountry && selectedCategory"
                [routerLink]="['country/:categoryId', {'categoryId': selectedCategory.id}]">
          <mat-icon>share</mat-icon>
          <span class="text-exception">Wähle ein Land ...</span>
        </button>
    </mat-toolbar>
  <mat-toolbar *ngIf="!isUser()">
    <span>{{ title }}</span>
  </mat-toolbar>
</nav>
